<div class="content">
    <%= yield %>
    <p id="intro-text">On this site you can write what you like, and you can also read others posts.<p>
    <div class="button-box"><div id="articles-link"><%= link_to 'Go to articles', controller: 'articles' %></div></div>
</div>